/****************
GENERAL STYLING
****************/

body {
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;	/* padding ger extra utrymme på sidorna som följer med browsern */
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h3 {
	text-align: center;
}

/****************
HEADING
****************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}


/****************
NAVIGATION
****************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px,0,0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

/****************
FOOTER
****************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	padding-bottom: 5px;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}


/****************
BLOGPOSTS
****************/


#blogpost {
	text-align: justify;
}

#blogpost p {
	padding: 0 7% 0 7%;
}

#blogpost h3 {
	margin: 5% 0 5% 0;
	text-align: center;
}

#blogpost img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0 0 20px;
}

.av {
	color: #47476b;
	text-align: right;
}

video {
	max-width: 100%;
	padding-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

/****************
PAGE: STORY
****************/

#postlista  {
	margin: 0;
	padding: 0;
	list-style: none;
}

#postlista img {
	border-radius: 100%;
}

#postlista li {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#postlista p {
	text-align: center;
	color: black;
	font-size: 1em;
}

#postlista .merinfo {
	font-size: 0.75em;
	color: #47476b;
	margin-top: -10px;
}

/****************
PAGE: BILDSIDOR
****************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 40%;
	margin: 2.5%;
	color: #bdc3c7;
	clear: right;
}

/*
DETTA GOR INGENTING?
#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}
*/

#thing {
	text-align: center;
}

/* gör bilderna lika höga???
#gallery img.bilder {
	height: 500px;
}
*/


/****************
COLOURS
****************/

/* site body */
body {
	background-color: #fff;
	color: #999;
}

/* green header */
header {
	background: #b30086;
	border-color: #66004d;
}

footer {
	background: #a3a3c2;
	color: #ccc;
}

h1, h2 {
	color: #fff;
}


/* navigation menu styling */
nav {
	background: #66004d;
}

/* links */
a {
	color: #999;
}


nav a, nav a:visited {
	color: #fff;
}

nav a.selected, nav a:hover {
	color: #330026;
}

#blogpost {
	color: #14141f;
}





