a:hover, a:visited {
    text-decoration: none;
}
/* Animations */
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 700ms ease-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear-active {
    opacity: 1;
    transition: opacity 700ms ease-out;
}

.image-pops-onhover {
    transition: all 0.3s linear;
}

.image-pops-onhover:hover {
    transform: scale3d(1.05,1.05,1);
    z-index: 99;
}
