a:hover, a:visited {
    text-decoration: none;
}
/* Animations */
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 700ms ease-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear-active {
    opacity: 1;
    transition: opacity 700ms ease-out;
}

.image-pops-onhover {
    transition: all 0.3s linear;
}

.image-pops-onhover:hover {
    transform: scale3d(1.1,1.1,1);
    z-index: 99;
}

.overview-items-pulse {
    transition: all 0.3s linear;
}

.overview-items-pulse:hover {
    transform: scale3d(1.05,1.05,1);
    z-index: 99;
}

/*
.overview-items-pulse:hover {
    z-index: 3;
    animation-name: pulse;
    animation-duration: 0.5s;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.03, 1.03, 1.03);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
*/
